Repository harishabe/drillbit-plagiarism-check-b2c: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run lint:format, npm run lint:stylelint

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json}": ["npm run lint:fix", "npm run lint:format"],
  "src/**/*.{css,scss,sass}": ["npm run lint:format", "npm run lint:stylelint"]
}

changes
  package.json
  src/app/components/page/Page.tsx
  src/app/dashboard/dashboard.scss
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

husky
  package.json
Due: none

changes
  src/app/components/typography/Heading.tsx
Due: npm run lint:fix, npm run lint:format

chages
  package.json
Due: none

chages
  package-lock.json
Due: none

file and folder view
  public/assets/icon/FolderFileIcon.tsx
  public/assets/icon/FolderIcon.tsx
  public/assets/icon/file/File.tsx
  public/assets/icon/file/FileDoc.tsx
  public/assets/icon/file/FileWord.tsx
  public/assets/index.ts
  public/assets/mockData/data.ts
  src/app/components/index.ts
  src/app/components/page/FileView.tsx
  src/app/components/page/FolderView.tsx
  src/app/components/page/Page.tsx
  src/app/components/page/view.scss
  src/app/dashboard/PageView/FileView.tsx
  src/app/dashboard/PageView/FolderView.tsx
  src/app/dashboard/PageView/PageView.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

ellipsis work b2c
  src/app/components/component.scss
  src/app/components/ellipsis/Ellipsis.tsx
  src/app/components/page/FileView.tsx
  src/app/components/page/FolderView.tsx
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

basic ellipsis work
  src/app/components/component.scss
  src/app/components/ellipsis/EllipsisText.tsx
  src/app/components/index.ts
  src/app/components/page/FileView.tsx
  src/app/components/page/FolderView.tsx
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

New changes
  public/assets/mockData/data.ts
  src/app/components/form/elements/InputTextField.tsx
  src/app/components/index.ts
  src/app/components/page/FileView.tsx
  src/app/components/page/FolderView.tsx
  src/app/components/page/UploadView.tsx
  src/app/components/page/view.scss
  src/app/dashboard/PageView/FileView.tsx
  src/app/dashboard/dashboard.scss
  src/app/theme/drillbit/font.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

displaying profile menu items work
  public/assets/icon/profile/AccountIcon.tsx
  public/assets/icon/profile/ChangePwdIcon.tsx
  public/assets/icon/profile/DownArrowIcon.tsx
  public/assets/icon/profile/HelpIcon.tsx
  public/assets/icon/profile/SwitchAccountIcon.tsx
  public/assets/index.ts
  public/assets/mockData/data.ts
  src/app/components/component.scss
  src/app/components/navbar/Navbar.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

inheritance scss
  src/app/components/component.scss
Due: npm run lint:format, npm run lint:stylelint

delete, download warning dialog model
  public/assets/icon/DeleteWarningIcon.tsx
  public/assets/icon/DownloadWarningIcon.tsx
  public/assets/index.ts
  src/app/components/component.scss
  src/app/components/dialog/WarningDialog.tsx
  src/app/components/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

changes
  src/app/components/dialog/WarningDialog.tsx
Due: npm run lint:fix, npm run lint:format

changes2
  src/app/components/dialog/WarningDialog.tsx
Due: npm run lint:fix, npm run lint:format

changes
  src/app/components/component.scss
  src/app/components/dialog/WarningDialog.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

file view delete download implementation
  src/app/components/component.scss
  src/app/components/page/FileView.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

modal component
  package-lock.json
  package.json
  src/app/components/dialog/DialogModal.tsx
  src/app/components/dialog/dialogModal.scss
  src/app/components/index.ts
  src/app/components/page/FileView.tsx
  src/app/components/page/UploadView.tsx
  src/app/dashboard/PageView/FileView.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

fixed small css changes
  src/app/components/component.scss
  src/app/components/dialog/DialogModal.tsx
  src/app/components/dialog/WarningDialog.tsx
  src/app/components/navbar/Navbar.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

changes
  src/app/components/component.scss
  src/app/components/navbar/Navbar.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

'chagnes'
  src/app/dashboard/dashboard.scss
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

few changes
  public/assets/icon/file/File.tsx
  public/assets/icon/file/FileDoc.tsx
  public/assets/icon/file/FileWord.tsx
  src/app/components/page/view.scss
Due: npm run lint:format, npm run lint:stylelint

breadcrumb
  next.config.js
  package-lock.json
  package.json
  public/assets/mockData/data.ts
  src/app/components/breadcrumb/BreadCrumb.tsx
  src/app/components/component.scss
  src/app/components/ellipsis/EllipsisText.tsx
  src/app/components/index.ts
  src/app/components/navbar/Navbar.tsx
  src/app/components/page/view.scss
  src/app/dashboard/dashboard.scss
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
  tsconfig.json
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

moved css changes
  src/app/components/component.scss
  src/app/components/dialog/WarningDialog.tsx
  src/app/components/dialog/dialogModal.scss
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

basic table component
  src/app/components/index.ts
  src/app/components/skeleton/TableSkeleton.tsx
  src/app/components/table/CommonTable.tsx
  src/app/dashboard/Text/TextView.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format

changes, table view will be in inside files
  src/app/dashboard/files/page.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format

changes
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format

mockData implemented
  package-lock.json
  public/assets/mockData/data.ts
  src/app/(profile)/transaction/TransactionsView/PurchaseHistory.tsx
  src/app/(profile)/transaction/TransactionsView/SubmissionHistory.tsx
  src/app/(profile)/transaction/TransactionsView/TableView.tsx
  src/app/(profile)/transaction/page.scss
  src/app/(profile)/transaction/page.tsx
  src/app/components/component.scss
  src/app/components/index.ts
  src/app/components/navbar/Navbar.tsx
  src/app/components/tabs/TabMenu.tsx
  src/app/dashboard/dashboard.scss
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

added filter, profile path changes
  public/assets/mockData/data.ts
  src/app/(profile)/transaction/TransactionsView/PurchaseHistory.tsx
  src/app/(profile)/transaction/TransactionsView/SubmissionHistory.tsx
  src/app/(profile)/transaction/TransactionsView/TableView.tsx
  src/app/(profile)/transaction/page.scss
  src/app/components/component.scss
  src/app/components/tabs/TabMenu.tsx
  src/app/constant/form/filterForm.json
  src/app/dashboard/(profile)/accountInfo/page.tsx
  src/app/dashboard/(profile)/help/page.tsx
  src/app/dashboard/(profile)/transaction/TransactionsView/PurchaseHistory.tsx
  src/app/dashboard/(profile)/transaction/TransactionsView/SubmissionHistory.tsx
  src/app/dashboard/(profile)/transaction/TransactionsView/TableView.tsx
  src/app/dashboard/(profile)/transaction/page.scss
  src/app/dashboard/(profile)/transaction/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

help and change password UI
  public/assets/mockData/data.ts
  src/app/components/navbar/Navbar.tsx
  src/app/constant/form/changepassword.json
  src/app/dashboard/(profile)/changepassword/page.scss
  src/app/dashboard/(profile)/changepassword/page.tsx
  src/app/dashboard/(profile)/help/page.scss
  src/app/dashboard/(profile)/help/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

commented work
  public/assets/mockData/data.ts
  src/app/dashboard/(profile)/transaction/TransactionsView/TableView.tsx
Due: npm run lint:fix, npm run lint:format

payment work
  public/assets/mockData/data.ts
  src/app/components/component.scss
  src/app/components/navbar/Navbar.tsx
  src/app/components/navbar/ProfileMenuList.tsx
  src/app/components/page/FolderView.tsx
  src/app/components/page/UploadView.tsx
  src/app/dashboard/PageView/FileView.tsx
  src/app/dashboard/PageView/FolderView.tsx
  src/app/dashboard/buyPages/buyPages.scss
  src/app/dashboard/buyPages/order/OrderSummary.tsx
  src/app/dashboard/buyPages/order/PriceList.tsx
  src/app/dashboard/buyPages/page.tsx
  src/app/dashboard/dashboard.scss
  src/app/dashboard/page.tsx
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

Help, Change password UI
  src/app/components/card/CardView.tsx
  src/app/components/index.ts
  src/app/constant/form/changePassword.json
  src/app/dashboard/(profile)/accountInfo/page.tsx
  src/app/dashboard/(profile)/changePassword/page.tsx
  src/app/dashboard/(profile)/help/page.tsx
  src/app/dashboard/dashboard.scss
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

Account info UI work with mockData
  public/assets/mockData/data.ts
  src/app/components/card/CardView.tsx
  src/app/components/navbar/ProfileMenuList.tsx
  src/app/dashboard/(profile)/accountInfo/page.scss
  src/app/dashboard/(profile)/accountInfo/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

nanbar changes
  src/app/dashboard/(profile)/transaction/page.tsx
  src/app/dashboard/buyPages/page.tsx
  src/app/dashboard/dashboard.scss
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

fixed layout
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/login/page.scss
  src/app/(auth)/login/page.tsx
  src/app/components/component.scss
  src/app/components/tabs/TabMenu.tsx
  src/app/constant/form/loginForm.json
  src/app/dashboard/(profile)/accountInfo/page.scss
  src/app/dashboard/(profile)/accountInfo/page.tsx
  src/app/dashboard/(profile)/transaction/page.tsx
  src/app/dashboard/dashboard.scss
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

help change password work
  public/assets/mockData/data.ts
  src/app/constant/form/changepassword.json
  src/app/dashboard/(profile)/changepassword/page.scss
  src/app/dashboard/(profile)/changepassword/page.tsx
  src/app/dashboard/(profile)/help/page.scss
  src/app/dashboard/(profile)/help/page.tsx
  src/app/dashboard/PageView/FileView.tsx
  src/app/dashboard/PageView/FolderView.tsx
  src/app/dashboard/dashboard.scss
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

account & billing edit work
  public/assets/mockData/data.ts
  src/app/constant/form/accountDetails.json
  src/app/constant/form/billingDetails.json
  src/app/dashboard/(profile)/accountInfo/page.scss
  src/app/dashboard/(profile)/accountInfo/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

folder_submission work
  public/assets/mockData/data.ts
  src/app/components/page/FolderView.tsx
  src/app/dashboard/folders/folderSubmission/page.tsx
  src/app/dashboard/folders/page.tsx
Due: npm run lint:fix, npm run lint:format

settings for folders and files
  src/app/dashboard/dashboard.scss
  src/app/dashboard/files/page.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint
