Repository harishabe/drillbit-plagiarism-check-b2c: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run lint:format, npm run lint:stylelint

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx,json}": ["npm run lint:fix", "npm run lint:format"],
  "src/**/*.{css,scss,sass}": ["npm run lint:format", "npm run lint:stylelint"]
}

settings changes done
  src/app/constant/form/folderFileSettings.json
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/folderSubmission/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format

removed folder settings
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
Due: npm run lint:fix, npm run lint:format

changes
  src/app/components/component.scss
Due: npm run lint:format, npm run lint:stylelint

fixed all problem
  src/app/components/ellipsis/EllipsisText.tsx
  src/app/components/page/FileView.tsx
  src/app/components/page/FolderView.tsx
  src/app/dashboard/PageView/FileView.tsx
  src/app/dashboard/PageView/FolderView.tsx
  src/app/dashboard/files/page.tsx
  src/app/dashboard/folders/folderSubmission/page.tsx
  src/app/dashboard/folders/page.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
Due: npm run lint:fix, npm run lint:format

loader component
  package-lock.json
  package.json
  public/assets/icon/DrillBitSymbolLogo.tsx
  public/assets/index.ts
  src/app/components/index.ts
  src/app/components/loader/LoadingIndicator.tsx
  src/app/components/loader/loading.scss
  src/app/dashboard/layout.tsx
  src/app/dashboard/loading.tsx
  src/app/layout.tsx
  src/app/loading.tsx
  src/app/page.tsx
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

text field, button, dropdown components
  src/app/(auth)/login/page.tsx
  src/app/components/form/FormComponent.tsx
  src/app/components/form/elements/InputAutoComplete.tsx
  src/app/components/form/elements/InputButton.tsx
  src/app/components/form/elements/InputTextField.tsx
  src/app/constant/form/loginForm.json
Due: npm run lint:fix, npm run lint:format

changes
  src/app/(auth)/login/page.tsx
  src/app/components/form/FormComponent.tsx
  src/app/components/form/elements/InputAutoComplete.tsx
  src/app/components/form/elements/InputTextField.tsx
Due: npm run lint:fix, npm run lint:format

all form component completed
  package-lock.json
  package.json
  public/assets/mockData/data.ts
  src/app/components/form/FormComponent.tsx
  src/app/components/form/elements/InputAutoComplete.tsx
  src/app/components/form/elements/InputButton.tsx
  src/app/components/form/elements/InputDatePicker.tsx
  src/app/components/form/elements/InputFileType.tsx
  src/app/components/form/elements/InputNumberField.tsx
  src/app/components/form/elements/InputTextField.tsx
  src/app/components/form/elements/InputToggleButton.tsx
  src/app/components/form/elements/LabelCaption.tsx
  src/app/components/form/elements/LinkField.tsx
  src/app/components/form/elements/element.scss
  src/app/constant/form/mockdata.json
  src/app/globals.css
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

new feature
  env/.env.development
  env/.env.staging
  package-lock.json
  package.json
  public/assets/icon/socialIcon/FacebookLogo.tsx
  public/assets/icon/socialIcon/GoogleLogo.tsx
  public/assets/icon/socialIcon/LinkedInLogo.tsx
  public/assets/index.ts
  src/app/(auth)/login/page.scss
  src/app/(auth)/login/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/components/form/elements/InputTextField.tsx
  src/app/constant/form/signUpForm.json
  src/app/dashboard/buyPages/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/redux/api/authApi.ts
  src/app/redux/store.ts
  src/app/utils/ApiUrl.ts
  src/app/utils/BaseUrl.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint

blocker issue resolved
  src/app/components/form/elements/InputDatePicker.tsx
Due: npm run lint:fix, npm run lint:format

changes
  src/app/(auth)/login/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/components/form/FormComponent.tsx
  src/app/components/form/elements/InputTextField.tsx
  src/app/constant/form/signUpForm.json
Due: npm run lint:fix, npm run lint:format

changes
  src/app/(auth)/login/SocialLogin.tsx
  src/app/(auth)/login/page.scss
  src/app/(auth)/login/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/components/form/FormComponent.tsx
  src/app/components/form/elements/InputTextField.tsx
  src/app/components/form/elements/element.scss
  src/app/constant/form/loginForm.json
  src/app/constant/form/loginForm.ts
  src/app/theme/index.ts
Due: npm run lint:fix, npm run lint:format, npm run lint:stylelint
